.map-container {
    position: relative;

    height: 580px;
    width: 790px;
}

.map-container .map {
    width: 100%;
    height: 100%;
}

.map-container .map-control-zoom {
    position: absolute;
    top: 5px;
    left: 5px;
}

.map-control-zoom ul, .map-control-ruler ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.map-control-ruler ul li {
    float: left;
}

.map-control-ruler ul li .active {
    color: red;
}

.map-container .map-control-ruler {
    position: absolute;
    top: 5px;
    left: 5px;
}

.map-container i.fa {
    font-size: 60px;
}

#example-3 .map-control-zoom, #example-4 .map-control-zoom {
    top: 85px;
}


#example-4 .map-container i.fa {
    font-size: 30px;
}

#example-4 .map-control-zoom {
    top: 50px;
}

#example-4 .map-container {
    float: left;

    height: 280px;
    width: 380px;

    border: 2px white solid;
}